extend ../layout
block content
	h1 Find a CrowdBox
	
	table.table.table-striped
	for ed in eds
		form.form-inline(name='#{ed.name}', method='get', action='/view', role='form')
			input(type='hidden',name='serial' value='#{ed.serial}')
			input(type='hidden',name='name' value='#{ed.name}')
			input(type='hidden',name='owner' value='#{ed.owner}')
			button.btn.btn-default(type='submit') #{ed.name}
	